/** @format */

body {
  margin: 0;
  font-family: 'Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Regular';
}

@font-face {
  font-display: optional;
  font-family: 'Black';
  font-weight: 900;
  src: url(./asset/Roboto.ttf);
  src: url(./asset/NotoSansKR.otf);
  unicode-range: U+AC00-D7A3, U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-display: optional;
  font-family: 'Bold';
  font-weight: 700;
  src: url(./asset/Roboto.ttf);
  src: url(./asset/NotoSansKR.otf);
  unicode-range: U+AC00-D7A3, U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-display: optional;
  font-family: 'Medium';
  font-weight: 500;
  src: url(./asset/Roboto.ttf);
  src: url(./asset/NotoSansKR.otf);
  unicode-range: U+AC00-D7A3, U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-display: optional;
  font-family: 'Regular';
  font-weight: 400;
  src: url(./asset/Roboto.ttf);
  src: url(./asset/NotoSansKR.otf);
  unicode-range: U+AC00-D7A3, U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-display: optional;
  font-family: 'Light';
  font-weight: 300;
  src: url(./asset/Roboto.ttf);
  src: url(./asset/NotoSansKR.otf);
  unicode-range: U+AC00-D7A3, U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-display: optional;
  font-family: 'Thin';
  font-weight: 100;
  src: url(./asset/Roboto.ttf);
  src: url(./asset/NotoSansKR.otf);
  unicode-range: U+AC00-D7A3, U+0041-005A, U+0061-007A, U+0030-0039;
}

body,
body * {
  font-family: 'Regular';
}
